html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
}

h1 {
	font-size:100px;
	color:#800020;
	text-align: center;
	font-family: 'Sacramento', cursive;
}

h2 {
	color:#800020;
    text-align: center;
    font-family: 'Open Sans';
}

.alert {
    margin-top: 50px;
}

.button1 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    color:#800020;
    background-color: white;
    border-color: #800020;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1:hover {
	background-color:#800020;
	color: white;
	border-color:#800020;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}