{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
<div class="container">
  <div class="starter-template">
  	<h2>What is Reezy?</h2>
    <p>Reezy converts readings into summarized audio files of flexible length.  For a student who has to read hundreds of pages every week, Reezy saves time and provides an easy method of refreshing what they learned.  Reezy can also be used as an accessibility tool and is the only product that gives the visually impaired the ability to listen to summaries of any article or book.</p>
    <h2>How it works</h2>
    <p>After you upload the PDF file you want summarized and tell Reezy how long you want your summary to be, we convert it to a png file and then extract the text from the picture.</p>
    <p>We then use an algorithm based on term frequency/inverse document frequency (tf-idf) to return your summary.  The algorithm associates words with their grammatical counterparts (eg. goose and geese), calculates the frequency of each term in the text, assigns each word popularity points, figure out which periods pertain to sentence endings (eg Sgt. does not), splits the text into sentences, ranks sentences by the sum of their words' points, and returns X (based on the length requested).  Reezy is best-suited to handle text-based files without tables or graphs.</p>
    <h2>Terms of use</h2>
    <p>This service offers functionality to convert text-based files to audio summaries.  The service is provided via the web interface and available for use on mobile, as well.  You agree to comply with the policies and limitations concerning the use of the Reezy service, including, but not limited to, the maximum file input size and maximum aduio summary length.  Reezy does not own the content it converts, and we remove all files 30 minutes after conversion -- you as the user are responsible for ethical usage of Reezy and the content they choose to use with the service.</p>
    <h2>Code</h2>
    Code for Reezy is open-source and can be found <a href="https://github.com/andrewng/reezy">here</a>.
  </div>
</div>
{% endblock %}