{% extends "base.html" %}
{% set active_page = "index" %}


{% block content %}
<div class = "container">
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> {reezy} </h1>
    <br>
    <br>
  </div>
  <div class="contents" align="center">
    <form id="upload-file" method="post" enctype="multipart/form-data">
      <div id="uploadOptions">
        <fieldset class="fileUpload btn btn-primary button1">
            <span>Choose File</span>
            <input class="upload" name="file" type="file">
        </fieldset>
        <fieldset class="textInput btn btn-primary button1" onclick="addTextBox()">
          <span>Copy/Paste Text</span>
        </fieldset>
      </div>
      <fieldset>
        <form>
          How many seconds should your summary be?
          <input type="number" value="60" name="length">
        </form>
        <br>
        <br>
      </fieldset>
      <fieldset>
        <button type="button" class="summary btn button btn-primary button1">Get summary!</button>
      </fieldset>
      <div class="progress progress-striped active hide">
        <div class="progress-bar progress-bar-info" id='realtime-progress-bar' role="progressbar" style="width: 0%"></div>
      </div>
      <p class="messages"></p>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<script type="text/javascript">
  var pusher = new Pusher('{{ pusher_key }}', {
    encrypted: true
  });
  var channel = pusher.subscribe('{{ session_id }}');

  channel.bind('my-event', function(data) {
    console.log(data.message);
    var messageBox = $('.messages')
    var progressBar = $('#realtime-progress-bar')

    progressBar.width(data.progress+"%")
    messageBox.html(data.message)

    // The process is complete: do whatever you want now, maybe redirect them to their newly created account?
    if (data.progress == 100) {
      // we'll do something here in the future
    }
  });
</script>
{% endblock %}