<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>Welcome to Reezy</h1>
    <p class="lead">COS 333</p>
    <p>Samhita Karnati: <a href="mailto:skarnati@princeton.edu">skarnati@princeton.edu</a></p>
    <p>Kevin Liu: <a href="mailto:kevinliu@princeton.edu">kevinliu@princeton.edu</a></p>
    <p>Andrew Ng: <a href="mailto:ajng@princeton.edu">ajng@princeton.edu</a></p>
    <p>TA: Ghassen Jerfel</p>
  </div>
</div>
{% endblock %}