{% extends "base.html" %}
{% set active_page = "status" %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>Elevator Pitch</h1>
    <p>We are building a product called Reezy that converts readings into summarized audiobooks of flexible length. The core value proposition of Reezy for students is that it saves the user hours of time every week by condensing hundreds of pages of readings into something that can be listened to on the way to precept. Outside of the classroom, Reezy can be used as an accessibility tool for the visually impaired—the ability to listen to summaries of any article or book isn’t offered by any existing products.</p>
    <h1>Completed Tasks</h1>
    <ul>
      <li>Design document complete</li>
      <li>GitHub repo set up with all team members added</li>
      <li>Simple server deployed to Heroku</li>
      <li>Simple approach to document summarization is written</li>
      <li>Domain for Reezy is purchased and DNS forwarding is set up with our Heroku app</li>
      <li>Set up CloudFlare and SSL</li>
    </ul>
    <h1>Contact</h1>
      <p>Samhita Karnati: <a href="mailto:skarnati@princeton.edu">skarnati@princeton.edu</a></p>
      <p>Kevin Liu: <a href="mailto:kevinliu@princeton.edu">kevinliu@princeton.edu</a></p>
      <p>Andrew Ng: <a href="mailto:ajng@princeton.edu">ajng@princeton.edu</a></p>
      <p>TA: Ghassen Jerfel</p>
  </div>
</div>
{% endblock %}